* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    
    position: relative;
    width: 960px;
    margin: auto;

    font: 13px/1.5 'Lucida Grande', 'Lucida Sans', Verdana, sans-serif;
    color: #bfdeec;
    color: rgba(63,80,93,0.9);
    
    text-shadow: 0 2px rgba(255,255,255,0.5);
    
    background: #e3f4ff repeat-x;
    background-color: rgba(227,244,255,0.5);
    background-image: -webkit-linear-gradient(#fff, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(#fff, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(#fff, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(#fff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(#fff, rgba(255, 255, 255, 0));
    background-size: 100% 300px;
    
}

h1, h2, h3, h4 {
    line-height: 1.25;
    font-weight: normal;
}

a {
    color: #eb004b;
    text-decoration: none;
} a:hover, .button {
    background: #eb004b;
    color: #fff;
    text-shadow: none;
}

pre, code, tt {
    font: 11px/1.75 monaco, monospace;
}

td {
    padding: 20px;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, 
img, embed, object {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img, object, embed {
    max-width: 100%;
}
/* Typography
///////////// */

.gill-sans {
    font-family: 'Gill Sans', sans-serif;
    text-transform: uppercase;
}
h1.gill-sans, h2.gill-sans,
h3.gill-sans, th.gill-sans {
    font-weight: bold;
    color: #000d18;
}

/* Helpers
////////// */
._size-1 { font-size: 48px; }
._size-2 { font-size: 36px; }
._size-3 { font-size: 21px; }
._size-4 { font-size: 18px; }
._size-5 { font-size: 16px; }
._size-6 { font-size: 11px; }

._left { float: left; }
._right { float: right; }

._right-20 { margin-right: 20px; }
._right-30 { margin-right: 30px; }

._left-20 { margin-left: 20px; }
._left-30 { margin-left: 30px; }

._bottom-10 { margin-bottom: 10px; }
._bottom-20 { margin-bottom: 20px; }
._bottom-30 { margin-bottom: 30px; }


._fix-float { overflow: hidden; }

._text-center { text-align: center; }

/* Modules
////////// */
.\=row {
    margin: 40px 0;
}

.\=inline-list > li {
    display: inline-block;
}
.\=inline-list > li:before {
    content: '\2605';
    display: inline-block;
    margin: 10px 15px;
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter:alpha(opacity=3);
}

.\=box {
    padding: 30px 5px;
    background-color: #DDF1FF;
    background-image: -webkit-linear-gradient(#DDF1FF, #C7E9FF);
    background-image: -moz-linear-gradient(#DDF1FF, #C7E9FF);
    background-image: -ms-linear-gradient(#DDF1FF, #C7E9FF);
    background-image: -o-linear-gradient(#DDF1FF, #C7E9FF);
    background-image: linear-gradient(#DDF1FF, #C7E9FF);
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
} .button:hover {
    background: #00101e;
} .button:active {
    position: relative;
    top: 2px;
}
._text-center .button {
    margin: 0 10px;
}

/* Code highlighting
//////////////////// */
.prettyprint .str, .prettyprint2 .str { color: #08b; }
.prettyprint .kwd, .prettyprint2 .kwd { color: #EB004B; }
.prettyprint .com, .prettyprint .pun, .prettyprint2 .com, .prettyprint2 .pun { color: #77828C; }
.prettyprint .typ, .prettyprint2 .typ { color: green; }
.prettyprint .lit, .prettyprint2 .lit { color: #066; }
.prettyprint .pln, .prettyprint2 .pln { color: #000; }
.prettyprint .tag, .prettyprint2 .tag { color: #008; }
.prettyprint .atn, .prettyprint2 .atn { color: #606; }
.prettyprint .atv, .prettyprint2 .atv { color: #080; }
.prettyprint .dec, .prettyprint2 .dec { color: #606; }

/* Responsive layout
//////////////////// */
@media all and (max-width: 480px) {
    body {
        width: 100%;
        padding: 0 20px;
    }
    br {
        display: none;
    }

    #logo { width: 45px; }
    
    ._res-break { float: none; }
    ._res-left-0 { margin-left: 0; }

    ._res-size-0 { font-size: inherit; }
    ._res-size-1 { font-size: 48px; }
    ._res-size-2 { font-size: 36px; }
    ._res-size-3 { font-size: 21px; }
    ._res-size-4 { font-size: 18px; }
    ._res-size-5 { font-size: 16px; }
    ._res-size-6 { font-size: 11px; }

    ._res-bottom-10 { margin-bottom: 10px; }
    ._res-bottom-20 { margin-bottom: 20px; }
    ._res-bottom-30 { margin-bottom: 30px; }

    .\=inline-list > li {
        display: block;
        padding: 2px 0;
        border-bottom: 1px dashed #C1CBD3;
    }
    .\=inline-list > li:last-child {
        border: none;
    }
    .\=inline-list > li:before {
        display: none;
    }

    .\=row {
        margin: 20px 0; }
    table {
        overflow: hidden;
    }
}
